﻿@{
    ViewBag.Title = "Главная страница";
}

<div class="jumbotron">
    <h1>Houses for Students</h1>
    <p class="lead">Данный сайт поможет вам сдать и снять квартиру</p>
    <p>
        @Html.ActionLink("Сдать квартиру", "AddHouse", "Offer", new { area = "" }, new { @class = "btn btn-primary btn-lg" })
        @Html.ActionLink("Снять квартиру", "List", "Offer", new { area = "" }, new { @class = "btn btn-primary btn-lg" })
    </p>
</div>

