﻿
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List of offers</title>
</head>
<body>
    <div>
        <p>
            <table>
                <tr>
                    <th>Адрес</th>
                    <th>Владелец</th>
                    <th>Цена</th>
                    <th>Тип</th>
                </tr>
                @foreach (var house in ViewBag.Houses)
                {
                    <tr>
                        <td>@house.Address</td>
                        <td>@house.Owner</td>
                        <td>@house.Price</td>
                        <td>@house.Type</td>
                        <td><a href="/Offer/Show/@house.ID">Показать контакты</a></td>
                    </tr>
                }
                </table></p>
            </div>
</body>
</html>
