﻿
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.House.Owner</title>
</head>
<body>
    <div>
        <p>
        </p>
    </div>
</body>
</html>